@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Michroma&display=swap');

:root {
  --black-colour: hsl(0, 0%, 20%);
  --primary-colour: hsl(44, 100%, 50%);
  --secondary-colour: hsl(20, 100%, 50%);
}

* {
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: var(--black-colour);
}